body {
    background-color: #f8f9fa;

}

h2 {
    color: #007bff;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    transition: transform 0.2s;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}
.search_laptop{
width: 20%;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.text-center {
    text-align: center;
}


.content {
    display: flex;
    flex-direction: column;
    background-color: black;
}
.sidebar {
    width: 250px;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 10;
    background-color: white;
}